/* RESETS */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "DM Sans", sans-serif;
	height: 100%;
	color: #121212;
	font-size: 62.5%;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

span {
	font-weight: 700;
}

/* HEADER */
.logo {
	height: 3rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	padding: 0 4rem;
}

.main-nav-list {
	list-style: none;
	display: flex;
	gap: 2.2rem;
	font-size: 1.8rem;
	font-weight: 700;
	background: #d8f5cc;
	border-radius: 50px;
	padding: 1rem 2.4rem;
}

.main-nav-list a {
	padding: 1rem;
	transition: all 150ms ease-in-out;
}

.main-nav-list a:hover {
	background: #c4e8b4;
	color: #2b7f06;
}

.header .solid-btn {
	padding: 1rem 4rem;
}

.header .solid-btn i {
	color: #e3f9da;
	margin-right: 0.3rem;
}

/* HERO */
.section-hero {
	background: linear-gradient(
		359.56deg,
		rgba(196, 232, 180, 0.43) -32.94%,
		rgba(216, 245, 204, 0) 99.61%
	);
	padding: 4rem 0;
}

.hero-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 130rem;
	margin: 0 auto;
	align-items: center;
	gap: 6rem 0;
}

.hero-text-wrapper {
	margin: 3rem;
}

.hero-heading {
	font-size: 5rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 6.5rem;
	margin-bottom: 1.5rem;
}

.hero-description {
	font-size: 2.1rem;
	max-width: 60rem;
	margin-bottom: 3rem;
}

.hero-marquee {
	max-width: 65rem;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
}

.meal-types-list {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	line-height: 3rem;
}

.marquee-animation {
	animation: marquee 15s infinite alternate;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.meal-types-list li {
	display: inline;
	padding: 0.6rem 0.8rem;
	border-radius: 50px;
	margin: 0.5rem;
}

.paleo {
	background: #eed374;
}

.vegan {
	background: #64dc77;
}

.gluten {
	background: #d7beff;
}

.lactose {
	background: #e8c2d4;
}

.pesca {
	background: #c2e1e8;
}

.vegetarian {
	background: #82ae8e;
}

.keto {
	background: #cec99e;
}

.fodmap {
	background: #ffa9a9;
}

.kid {
	background: #f39f52;
}

.hero-buttons {
	margin-top: 4rem;
}

.btn {
	border-radius: 50px;
	padding: 1rem 5rem;
	font-size: 1.7rem;
	margin: 0 1rem;
	font-weight: 400;
	transition: all 150ms ease-in-out;
}

.outline-btn {
	background: white;
	box-shadow: inset 0 0 0 2px #379e0a;
}

.outline-btn:hover {
	background: #5db935bb;
	font-weight: 500;
	box-shadow: none;
}

.solid-btn {
	background: #379e0a;
	color: rgb(245, 245, 245);
}

.solid-btn:hover {
	font-weight: 500;
	background: #226c02;
}

.hero-img-wrapper {
	justify-self: center;
}

.hero-customer-proof {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	gap: 1.5rem;
}

.customer-img-wrapper {
	display: flex;
}

.customer-img-wrapper img {
	border: 3px solid #ffffff;
	border-radius: 50px;
	width: 5.5rem;
	margin-right: -1.5rem;
}

.customer-img-wrapper img:last-child {
	margin: 0;
}

.customer-data {
	font-size: 1.5rem;
}

.customer-data i {
	color: #b80000;
	font-weight: 700;
}

.customer-data span:first-of-type {
	color: #2a8900;
}

.customer-data span:last-of-type {
	color: #585858;
	font-size: 1.3rem;
	font-weight: 500;
}

.featured-logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10rem;
	border-bottom: 1px solid rgba(128, 128, 128, 0.138);
	max-width: 130rem;
	margin: 0 auto;
	padding: 6rem 4rem;
}

.featured-logos img {
	object-fit: contain;
	height: 2.8rem;
	filter: grayscale(100%) brightness(0);
	opacity: 0.8;
}

.section-how {
	max-width: 130rem;
	margin: 0 auto;
	padding: 6rem 4rem;
}

.subheading {
	color: #379e0a;
	text-transform: uppercase;
	font-size: 2.4rem;
	text-align: center;
}

.body-heading {
	font-size: 4.4rem;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 6.5rem;
	margin-top: 1.5rem;
	text-align: center;
}

.body-heading span {
	color: #379e0a;
}

.how-full-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	height: 50rem;
}

.how-img-wrapper .mobile-bg:last-child {
	margin-bottom: 10rem;
}

.how-full-wrapper-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	margin-top: 3rem;
	height: 50rem;
	flex-direction: row-reverse;
}

.how-text-wrapper {
	max-width: 52rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.how-img-wrapper img {
	min-width: 18rem;
	width: 22rem;
}

.mobile-bg {
	background: linear-gradient(180deg, #95cc7e 0%, rgba(149, 204, 126, 0) 100%);
	border-radius: 20px;
	padding: 4rem;
	height: 36rem;
}

.how-step-num {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ddf3d3;
	background: #379e0a;
	font-size: 3rem;
	border-radius: 50%;
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 2rem;
	padding: 2.5rem;
}

.how-heading {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.how-heading span {
	font-style: italic;
	font-weight: 400;
}

.how-desc {
	font-size: 1.6rem;
	max-width: 46rem;
}

.section-meals {
	background: linear-gradient(
		180deg,
		#eef9e9 0%,
		rgba(255, 255, 255, 0.28) 100%
	);
	margin: 0 auto;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meal-card-overview {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 140rem;
	gap: 4rem;
	margin-top: 3rem;
}

.meal-card {
	border: 1px solid rgba(230, 230, 230, 0.6);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	transition: all 200ms ease-in;
}

.meal-card img {
	width: 100%;
	border-radius: 16px 16px 0px 0px;
}

.card-body {
	padding: 1.2rem 2rem;
}

.card-heading {
	font-size: 2rem;
	font-weight: 700;
	margin: 1rem 1rem;
}

.card-desc {
	color: #626262;
	font-size: 1.2rem;
	margin: 1rem 1rem;
}

.meal-stats {
	font-size: 1.6rem;
	padding: 1rem;
}

.meal-stats li {
	padding-bottom: 1rem;
	vertical-align: middle;
}

.meal-stats i {
	color: #246d05;
	font-size: 2rem;
	margin-right: 1.2rem;
}

.meal-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.184);
	background: white;
}

.meal-types-overview {
	margin: 4rem auto;
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
}

.meal-types-overview span {
	color: #379e0a;
}

.meal-types-overview ul {
	margin: 3rem 2rem;
	transform: scale(1.4);
}

.section-testimonials {
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}

.heading-left {
	text-align: start;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(20rem, 1fr));
	gap: 0.5rem;
	margin-left: 2rem;
}

.gallery img {
	height: 20rem;
}

.testimonials {
	align-self: center;
}

.testimonials-details {
	display: grid;
	grid-template-columns: repeat(2, minmax(20rem, 44rem));
	gap: 2rem;
	margin-top: 3rem;
}

.testimonials-card {
	background: #f7fff4;
	border: 1px solid #dcefdb;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.testimonials-credits {
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonials-card img {
	width: 6rem;
	border-radius: 50%;
	border: 4px solid #ddf3d3;
	margin: 0 auto;
}

.testimonials-card p {
	font-size: 1.4rem;
	margin-left: 1rem;
}

.testimonials-credits {
	font-size: 1.2rem;
	color: #646464;
}

.testimonials-credits span {
	font-size: 1rem;
	font-weight: 400;
}

.testimonials-credits i {
	color: #379e0a;
	margin-bottom: 0.4rem;
}

.section-pricing {
	max-width: 130rem;
	margin: 0 auto;
	padding: 6rem 4rem;
}

.toggle-prices {
	margin-top: 2rem;
}

.toggle-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: fit-content;
	gap: 1rem;
	background: #d8f5cc;
	border-radius: 50px;
	margin: 0 auto;
}

.toggle-wrapper:before {
	content: "";
	position: absolute;
	background: rgba(42, 137, 0, 0.54);
	top: 10%;
	left: 3%;
	right: 0%;
	bottom: 0%;
	width: 9rem;
	height: 3.5rem;
	border-radius: 50px;
	transition: all 150ms ease-in;
}

.toggle-wrapper p {
	z-index: 1;
	font-size: 1.6rem;
	text-align: center;
	padding: 1.2rem 2rem;
	font-weight: 500;
}

.toggle-wrapper p:first-child {
	color: white;
}

#toggle {
	display: none;
}

#toggle:checked + .toggle-wrapper:before {
	transform: translateX(125%);
}

#toggle:checked + .toggle-wrapper p:first-child {
	color: black;
}

#toggle:checked + .toggle-wrapper p:last-child {
	color: white;
}

.toggle-wrapper:hover {
	cursor: pointer;
}

.pricing-card-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-top: 3rem;
}

.pricing-card {
	background: #f7fff4;
	border: 2px solid #d8f5cc;
	border-radius: 10px;
	padding: 4rem;
	width: 36rem;
	height: 40rem;
}

.pricing-heading {
	text-align: center;
	margin-bottom: 2rem;
}

.pricing-card h3 {
	color: #379e0a;
	text-transform: uppercase;
	font-size: 2rem;
}

.pricing-card h1 {
	font-size: 4rem;
}

.pricing-list-items {
	font-size: 1.6rem;
}

.pricing-list-items li {
	line-height: 3rem;
}

.pricing-list-items i {
	font-size: 1.4rem;
	color: #379e0a;
}

.pricing-card .btn {
	display: block;
	margin-top: 2.2rem;
}

.selected-pricing {
	background: #d8f5cc;
	border-radius: 10px;
}

.selected-btn {
	background: #246d05;
	color: white;
	text-align: center;
}

.selected-btn:hover {
	background: #123901;
}

.pricing-heading span {
	font-size: 3rem;
}

small {
	font-size: 1.2rem;
	margin-top: 1.6rem;
}

.pricing-message {
	text-align: center;
	margin-top: 2rem;
	font-size: 1.3rem;
	color: grey;
}

@media only screen and (max-width: 1000px) {
	.hero-marquee {
		width: 42rem;
	}
}
